  <div class="app-main" id="main">
                    <!-- begin container-fluid -->
                    <div class="container-fluid">
                        <!-- begin row -->
                        <div class="row">
                            <div class="col-md-12 m-b-30">
                                <!-- begin page title -->
                                <div class="d-block d-sm-flex flex-nowrap align-items-center">
                                    <div class="page-title mb-2 mb-sm-0">
                                        <h1>Category Offer</h1>
                                    </div>
                                    <div class="ml-auto d-flex align-items-center">
                                       
                                    </div>
                                </div>
                                <!-- end page title -->
                            </div>
                        </div>
                        <!-- end row -->
                        <!-- begin row -->
                        <div class="row">
                            
                            <div class="col-xl-6">
                                <div class="card card-statistics">
                                    <div class="card-header">
                                        <div class="card-heading">
                                            <h4 class="card-title">Add Category Offer</h4>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <form id="category">
                                            <div class="form-row"> 
                                               
                                                
                                                 <div class="form-group col-md-6">
                                                    <label for="category name">Enter Category Name</label>
                                                    <select type="text" class="form-control" id="categoryname" placeholder="categoryname" name="categoryname">
                                                      {{#each category}}
                                                        <option value="{{this.category}}">{{this.category}}</option>
                                                        {{/each}}
                                                        </select> 
                                                        <p class="text-danger" id="error1"></p>
                                                </div>
                                            </div>
                                            
                                            <div class="form-row">
                                                <div class="form-group col-md-6">
                                                    <label for="inputZip">Offer percentage</label>
                                                    <input type="text" class="form-control" id="offerpercentage" name="offerpercentage" placeholder="percetage">
                                                    <p class="text-danger" id="error2"></p>
                                                </div>
                                                <div class="form-group col-md-6">
                                                    <label for="expdate">Offer Exiry Date</label>
                                                    <input type="date" class="form-control" id="expdate" name="expdate">
                                                    <p class="text-danger" id="error3"></p>
                                                </div>
                                                
                                                
                                            </div>
                                        
                                            <button type="submit" class="btn btn-primary">Submit</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                              <div class=" col-xl-6">
                                <div class="card card-statistics">
                                    <div class="card-header">
                                        <div class="card-heading">
                                            <h4 class="card-title">Category offer</h4>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div class="table-responsive">
                                            <table class="table table-borderless mb-0">
                                                <thead>
                                                    <tr>
                                                        <th scope="col">Category</th>
                                                        <th scope="col">Discount</th>
                                                        <th scope="col">Expiry Date</th>
                                                       
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {{#each categoryOffer}}
                                                    <tr>
                                                        
                                                        <td>{{this.category}}</td>
                                                        <td>{{this.discount}}</td>
                                                        <td>{{this.expdate}}</td>
                                                    </tr>
                                                   {{/each}}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                       
                        <!-- end row -->
                    </div>
                    <!-- end container-fluid -->
                </div>
                <script>

                   
                       $(document).ready(function () {
                $('#categoryname').change(function () {
                    checkcategoryName()

                })

            })
            function checkcategoryName() {
                let namevalue = $("#categoryname").val()
                
                if (namevalue == "") {
                    $('#error1').html('please select category name')
                   
                }
                else {
                    categoryName = true
                    $('#error1').html('')

                }

            }
            //  Discount
            $(document).ready(function () {
                $('#discount').keyup(function () {
                    checkdiscount()

                })

            })
            function checkdiscount() {
                let namevalue = $("#offerpercentage").val()
                let regex1 = /^[a-zA-Z.,;:|\\\/~!@#$%^&*_-{}\[\]()`"'<>?\s]+$/;
                if (namevalue == "") {
                    $('#error2').html('please enter discount price')
                }
                else if (namevalue.match(regex1)) {
                    discount = false
                    $('#error2').html('number Only')

                } else if (namevalue > 80) {
                    $('#error2').html('Enter only lessthan 80 %')
                    discount = false
                } else if (namevalue < 10) {
                    $('#error2').html('Enter 10 % more')
                    discount = false
                } else {
                    discount = true
                    $('#error2').html('')
                }

            }
            //====== date

            $(document).ready(function () {
                $('#expdate').keyup(function () {
                    checkdate()

                })

            })
            function checkdate() {
                let namevalue = $("#expdate").val()

                if (namevalue == "") {
                    date = false
                    $('#error3').html('Please select expiry date')
                }
                else {
                    date = true
                    $('#error3').html('')
                }

            }
            
           

                    //disable pervious date
                      var today = new Date();
                     var dd = String(today.getDate()).padStart(2, '0');
                    var mm = String(today.getMonth() + 1).padStart(2, '0');
                    var yyyy = today.getFullYear();

                    today = yyyy + '-' + mm + '-' + dd;
                    $('#expdate').attr('min',today);
                         
                     

                     var categoryName =false;
                     var discount =false;
                     var date=false

                    document.getElementById('category').onsubmit=e=>{
                       if(categoryName && discount && date)
                       {

                        $.ajax({

                            url:"/admin/add-category-offer",
                            method:"post",
                            data:$('#category').serialize(),
                            success:(response)=>{
                                if(response){
                                    window.location.reload()
                                }
                            
                            }

                        })
                       }else
                       {
                           e.preventDefault();
                           checkcategoryName()
                           checkdate();
                           checkdiscount();
                       }
                       
                    }

                </script>