  <div class="app-main" id="main">
                    <!-- begin container-fluid -->
                    <div class="container-fluid">
                        <!-- begin row -->
                        <div class="row">
                            <div class="col-md-12 m-b-30">
                                <!-- begin page title -->
                                <div class="d-block d-sm-flex flex-nowrap align-items-center">
                                    <div class="page-title mb-2 mb-sm-0">
                                        <h1>Coupon Offer</h1>
                                    </div>
                                    <div class="ml-auto d-flex align-items-center">
                                       
                                    </div>
                                </div>
                                <!-- end page title -->
                            </div>
                        </div>
                        <!-- end row -->
                        <!-- begin row -->
                        <div class="row">
                            
                            <div class="col-xl-6">
                                <div class="card card-statistics">
                                    <div class="card-header">
                                        <div class="card-heading">
                                            <h4 class="card-title">Add Coupon</h4>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <form id="addcoupan">
                                            <div class="form-row">
                                               
                                                <div class="form-group col-md-6">
                                                    <label for="offername">Coupon Code</label>
                                                    <input type="text" class="form-control" id="categoryname" placeholder="Offer name" name="coupancode">
                                                   <p class="text-danger" id="error1"></p>
                                                </div>
                                                 <div class="form-group col-md-6">
                                                    <label for="category name">Discount %</label>
                                                    <input type="text" class="form-control" id="offerpercentage" placeholder="discount" name="discount">
                                                    <p class="text-danger" id="error2"></p>
                                                </div>
                                            </div>
                                            
                                            <div class="form-row">
                                                <div class="form-group col-md-4">
                                                    <label for="inputZip">Max Purshase amount</label>
                                                    <input type="number" class="form-control" id="maxAmount" name="maxAmount" placeholder="maxAmount">
                                                     <p class="text-danger" id="error4"></p>
                                                </div>
                                                 <div class="form-group col-md-4">
                                                    <label for="inputZip">Min Purshase amount</label>
                                                    <input type="number" class="form-control" id="minAmount" name="minAmount" placeholder="minAmount">
                                                     <p class="text-danger" id="error5"></p>
                                                </div>
                                                <div class="form-group col-md-4">
                                                    <label for="expdate">Offer Exiry Date</label>
                                                    <input type="date" class="form-control" id="expdate" name="expdate">
                                                    <p class="text-danger" id="error3"></p>
                                                </div>
                                                
                                                
                                            </div>
                                        
                                            <button type="submit" class="btn btn-primary">Submit</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                              <div class=" col-xl-6">
                                <div class="card card-statistics">
                                    <div class="card-header">
                                        <div class="card-heading">
                                            <h4 class="card-title">Coupon  list</h4>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div class="table-responsive">
                                            <table class="table table-borderless mb-0">
                                                <thead>
                                                    <tr>
                                                        <th scope="col">Coupon name</th>
                                                        <th scope="col">Discount</th>
                                                        <th scope="col">minAmount</th>
                                                        <th scope="col">maxAmount</th>
                                                        <th scope="col">Expiry Date</th>
                                                        <th scope="col">Options</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {{#each coupon}}
                                                    <tr>
                                                        <th scope="row">{{this.couupanCode}}</th>
                                                        <td>{{this.discount}}</td>
                                                        <td>{{this.minAmount}}</td>
                                                        <td>{{this.maxAmount}}</td>
                                                        <td>{{this.expireAt}}</td>
                                                        <td><span><button class="btn-sm btn-danger" onclick="removeCoupan('{{this._id}}')"><i class="fa fa-trash"></i></button></span></td>
                                                    </tr>
                                                    {{/each}}
                                                  
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                       
                        <!-- end row -->
                    </div>
                    <!-- end container-fluid -->
                </div>

                <script>
                         









                    //disable pervious date
                      var today = new Date();
                     var dd = String(today.getDate()).padStart(2, '0');
                    var mm = String(today.getMonth() + 1).padStart(2, '0');
                    var yyyy = today.getFullYear();

                    today = yyyy + '-' + mm + '-' + dd;
                    $('#expdate').attr('min',today);

                   


                             $(document).ready(function () {
                $('#categoryname').keyup(function () {
                    checkcategoryName()

                })

            })
            function checkcategoryName() {
                let namevalue = $("#categoryname").val()
                
                if (namevalue == "") {
                    $('#error1').html('please enter coupon name')
                   
                }
                else {
                    categoryName = true
                    $('#error1').html('')

                }

            }
            //  Discount
            $(document).ready(function () {
                
                $('#offerpercentage').keyup(function () {
                    
                    checkdiscount()

                })

            })
            function checkdiscount() {
                let namevalue = $("#offerpercentage").val()
                
                let regex1 = /^[a-zA-Z.,;:|\\\/~!@#$%^&*_-{}\[\]()`"'<>?\s]+$/;
                if (namevalue == "") {
                    $('#error2').html('please enter discount price')
                }
                else if (namevalue.match(regex1)) {
                    discount = false
                    $('#error2').html('number Only')

                } else if (namevalue > 80) {
                    $('#error2').html('Enter only lessthan 80 %')
                    discount = false
                } else if (namevalue < 10) {
                    $('#error2').html('Enter 10 % more')
                    discount = false
                } else {
                    discount = true
                    $('#error2').html('')
                }

            }
           

           //Min Amount
           $(document).ready(function () {
               $('maxAmount').keyup(function () {
                   checkminamount()
               })
           })
           function checkminamount() {
               let namevalue = $("#minAmount").val()

               let regex1 = /^[a-zA-Z.,;:|\\\/~!@#$%^&*_-{}\[\]()`"'<>?\s]+$/;
                if (namevalue == "") {
                    $('#error5').html('please enter minimum price')
                }
                else if (namevalue.match(regex1)) {
                    minAmount = false
                    $('#error5').html('number Only')

                }
                 else {
                    minAmount = true
                    $('#error5').html('')
                }

           }


           ///Maximum amount
             
             $(document).ready(function () {
               $('maxAmount').keyup(function () {
                   checkmaxamount()
               })
           })
           function checkmaxamount() {
               let namevalue = $("#maxAmount").val()

               let regex1 = /^[a-zA-Z.,;:|\\\/~!@#$%^&*_-{}\[\]()`"'<>?\s]+$/;
                if (namevalue == "") {
                    $('#error4').html('please enter maximum price')
                }
                else if (namevalue.match(regex1)) {
                    maxAmount = false
                    $('#error4').html('number Only')

                }
                 else {
                    maxAmount = true
                    $('#error4').html('')
                }

           }
           
           

            //====== date

            $(document).ready(function () {
                $('#expdate').keyup(function () {
                    checkdate()

                })

            })
            function checkdate() {
                let namevalue = $("#expdate").val()

                if (namevalue == "") {
                    date = false
                    $('#error3').html('Please select expiry date')
                }
                else {
                    date = true
                    $('#error3').html('')
                }

            }
            


                       var categoryName =false;
                     var discount =false;
                     var date=false
                     var minAmount=false
                     var maxAmount=false
                    document.getElementById('addcoupan').onsubmit=e=>{
                           if(categoryName && discount && date)
                       {
                        e.preventDefault();
                        $.ajax({
                            url:"/admin/add-new-coupan",
                            method:"post",
                            data:$('#addcoupan').serialize(),
                            success:(response)=>{
                                if(response)
                                {
                                    window.location.reload()
                                }

                            }
                        })

                    } else
                       {
                           e.preventDefault();
                           checkcategoryName()
                           checkdate();
                           checkdiscount();
                           checkminamount();
                           checkmaxamount();
                           
                       }
                    }
                      function removeCoupan(id){
                             Swal.fire({
  title: 'Are you sure?',
  text: "You won't be able to revert this!",
  icon: 'warning',
  showCancelButton: true,
  confirmButtonColor: '#3085d6',
  cancelButtonColor: '#d33',
  confirmButtonText: 'Yes, delete it!'
}).then((result) => {
  if (result.isConfirmed) {
                         $.ajax({
                             url:"/admin/delete-coupon-admin",
                             method:"post",
                             data:{
                                 id:id
                             },
                             success:(response)=>{

                               if(response)
                               {
                                   window.location.reload()
                               }
                             }
                         })
                      }
                       
  				else{


					}
				
})
                      }

                </script>