  <div class="app-main" id="main">
                    <!-- begin container-fluid -->
                    <div class="container-fluid">
                        <!-- begin row -->
                        <div class="row">
                            <div class="col-md-12 m-b-30">
                                <!-- begin page title -->
                                <div class="d-block d-sm-flex flex-nowrap align-items-center">
                                    <div class="page-title mb-2 mb-sm-0">
                                        <h1>Coupon Offer</h1>
                                    </div>
                                    <div class="ml-auto d-flex align-items-center">
                                       
                                    </div>
                                </div>
                                <!-- end page title -->
                            </div>
                        </div>
                        <!-- end row -->
                        <!-- begin row -->
                        <div class="row">
                            
                            <div class="col-xl-6">
                                <div class="card card-statistics">
                                    <div class="card-header">
                                        <div class="card-heading">
                                            <h4 class="card-title">Add COupanr</h4>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <form id="addcoupan">
                                            <div class="form-row">
                                               
                                                <div class="form-group col-md-6">
                                                    <label for="offername">Coupon Code</label>
                                                    <input type="text" class="form-control" id="offername" placeholder="Offer name" name="coupancode">
                                                </div>
                                                 <div class="form-group col-md-6">
                                                    <label for="category name">Discount %</label>
                                                    <input type="text" class="form-control" id="discount" placeholder="discount" name="discount">
                                                </div>
                                            </div>
                                            
                                            <div class="form-row">
                                                <div class="form-group col-md-4">
                                                    <label for="inputZip">Max Purshase amount</label>
                                                    <input type="text" class="form-control" id="maxAmount" name="maxAmount" placeholder="maxAmount">
                                                </div>
                                                 <div class="form-group col-md-4">
                                                    <label for="inputZip">Min Purshase amount</label>
                                                    <input type="text" class="form-control" id="minAmount" name="minAmount" placeholder="minAmount">
                                                </div>
                                                <div class="form-group col-md-4">
                                                    <label for="expdate">Offer Exiry Date</label>
                                                    <input type="date" class="form-control" id="expdate" name="expdate">
                                                </div>
                                                
                                                
                                            </div>
                                        
                                            <button type="submit" class="btn btn-primary">Submit</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                              <div class=" col-xl-6">
                                <div class="card card-statistics">
                                    <div class="card-header">
                                        <div class="card-heading">
                                            <h4 class="card-title">Offer list</h4>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div class="table-responsive">
                                            <table class="table table-borderless mb-0">
                                                <thead>
                                                    <tr>
                                                        <th scope="col">Coupon name</th>
                                                        <th scope="col">Discount</th>
                                                        <th scope="col">minAmount</th>
                                                        <th scope="col">maxAmount</th>
                                                        <th scope="col">Expiry Date</th>
                                                        <th scope="col">Options</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {{#each coupan}}
                                                    <tr>
                                                        <th scope="row">{{this.couupanCode}}</th>
                                                        <td>{{this.discount}}</td>
                                                        <td>{{this.minAmount}}</td>
                                                        <td>{{this.maxAmount}}</td>
                                                        <td>{{this.expdate}}</td>
                                                        <td><span><button class="btn btn-danger" onclick="removeCoupan({{this._id}})"></button></span></td>
                                                    </tr>
                                                    {{/each}}
                                                  
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                       
                        <!-- end row -->
                    </div>
                    <!-- end container-fluid -->
                </div>

                <script>
                    //disable pervious date
                      var today = new Date();
                     var dd = String(today.getDate()).padStart(2, '0');
                    var mm = String(today.getMonth() + 1).padStart(2, '0');
                    var yyyy = today.getFullYear();

                    today = yyyy + '-' + mm + '-' + dd;
                    $('#expdate').attr('min',today);


                    document.getElementById('addcoupan').onsubmit=e=>{
                        
                        e.preventDefault();
                        $.ajax({
                            url:"/admin/add-new-coupan",
                            method:"post",
                            data:$('#addcoupan').serialize(),
                            success:(response)=>{
                                if(response)
                                {
                                    window.location.reload()
                                }

                            }
                        })

                    }
                      function removeCoupan(id){
                          alert(id)
                      }

                </script>