
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="https://kit.fontawesome.com/4f9ff9a3d7.js" crossorigin="anonymous"></script>
  <!-- Material Dashboard CSS -->
  <link href="/assets/css/material-dashboard.min.css?v=2.1.0" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css">
  		<link rel="stylesheet" href="https://unpkg.com/dropzone/dist/dropzone.css" />
		<link href="https://unpkg.com/cropperjs/dist/cropper.css" rel="stylesheet"/>

	<script src="https://unpkg.com/dropzone"></script>
		<script src="https://unpkg.com/cropperjs"></script>


<style>
    .preview {
        overflow: hidden;
        width: 160px;
        height: 160px;
        margin: 10px;
        border: 1px solid red;
    }

    .modal-lg {
        max-width: 1000px !important;
    }

    
    .btn-file {
        position: relative;
        overflow: hidden;
    }

    .btn-file input[type=file] {
        position: absolute;
        top: 0;
        right: 0;
        min-width: 100%;
        min-height: 100%;
        font-size: 100px;
        text-align: right;
        filter: alpha(opacity=0);
        opacity: 0;
        outline: none;
        background: white;
        cursor: inherit;
        display: block;
    }

    #img-upload ,#img-upload2,#img-upload3,#img-upload4 {
        width: 100%;
    }




</style>
<div class="container">



<div class="row">
    <div class="col-md-8  mx-auto">
        <div class="card card-statistics pt-5">
            <div class="card-header pt-5">
                <div class="card-heading pt-5">
                    <h2 class="card-title text-center">Edit product</h2>
                </div>
            </div>
            <div class="card-body">
                <form action="/admin/productmanagmnet/editproduct/{{products._id}}" method="POST" enctype="multipart/form-data" id="addProduct"></form
                {{!-- <form enctype="multipart/form-data" id="addProduct"> --}}
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputProduct">Product Name  </label>
                            <input type="text" class="form-control" id="inputProduct"  name="product" value="{{products.product}}" >
                        </div>
                        <div class="form-group col-md-6">
                            <label for="CATEGORY">Category</label>
                            {{!-- <input type="password" class="form-control" id="inputPassword4"
                                placeholder="Password"> --}}
                            <select id="inputCategory" class="form-control" name="category" >
                                 <option selected="">{{products.category}} </option>
                                {{#each category}}
                                <option >{{this.category}} </option>
                                {{/each}}
                            </select>
                        </div>
                    </div>


                 

                    <div class="form-row">
                        <div class="form-group col-md-8">
                            <label for="subCategory">sub Category</label>
                            <select id="inputsubCategory" class="form-control" name="subCategory" >
                                <option selected="">{{products.subCategory}}</option>
                                <option>  Fresh Fruits</option>
                                <option>Fresh Vegetables</option>
                                <option value="">Herbs and Seasonings</option>
                                <option value="">Exotic Fruits and Vegetables</option>
                                <option value="">Fresh Flowers</option>
                                <option value=""> Dairy</option>
                                <option value="">Toast and Khari</option>
                            </select>
                        </div>

                        <div class="form-group col-md-2">
                            <label for="inputprice">Price</label>
                            <input type="number" class="form-control" id="inputPrice" name="price" value="{{products.price}}" required>
                        </div>
                        <div class="form-group col-md-2">
                            <label for="inputquantity" name="quantity">Quantity</label>
                            <input type="number" class="form-control" id="inputQuantity" name="quantity"  value="{{products.quantity}}" required>
                        </div>
                    </div>
                      <div class="form-row ">

                    <div class="form-group col-md-12">
                        <label for="exampleFormControlTextarea1">Description</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="description" >{{products.description}}</textarea required>
                    </div>
                   </div>

                    {{!-- <div class="form-row">
                        <div class="form-group col-md-12">
                            <label for="inputprice">Additonal information</label>
                            <textarea class="form-control" rows="3"></textarea>
                        </div>
                    </div> --}}
                    <div class="form-row">
                       {{!-- item 1 start --}}
        <div class="col-md-2 col-sm-2">
            <h4 class="title"> Image 1</h4>
            <div class="fileinput fileinput-new text-center">
                <div class="fileinput-new thumbnail">
                    <img  src="/product-images/product-image1/{{products._id}}.jpg" id="chekPreview1" alt="...">

                </div>
                <div>
                    <span class="btn btn-rose btn-round btn-file">
                        <span class="fileinput-new">Select image</span>
                        <input type="file" id="image1" accept="image/gif, image/jpeg, image/png" name="productimage1"  />
                        <textarea name="image1_b64" id="imageValue1" cols="30" rows="10" hidden></textarea>
                    </span>
                </div>
            </div>
        </div>

     {{!-- item 1 end--}}



      {{!-- item 2 start --}}
        <div class="col-md-2 col-sm-2">
            <h4 class="title"> Image 2</h4>
            <div class="fileinput fileinput-new text-center">
                <div class="fileinput-new thumbnail">
                    <img  src="/product-images/product-image2/{{products._id}}.jpg" id="chekPreview2" alt="...">

                </div>
                <div>
                    <span class="btn btn-rose btn-round btn-file">
                        <span class="fileinput-new">Select image</span>
                        <input type="file" id="image2" accept="image/gif, image/jpeg, image/png" name="productimage2"  />
                        <textarea name="image2_b64" id="imageValue2" cols="30" rows="10" hidden></textarea>
                    </span>
                </div>
            </div>
        </div>

     {{!-- item 2 end--}}


    {{!-- item 3 start --}}
        <div class="col-md-2 col-sm-2">
            <h4 class="title"> Image 3</h4>
            <div class="fileinput fileinput-new text-center">
                <div class="fileinput-new thumbnail">
                    <img  src="/product-images/product-image3/{{products._id}}.jpg" id="chekPreview3" alt="...">

                </div>
                <div>
                    <span class="btn btn-rose btn-round btn-file">
                        <span class="fileinput-new">Select image</span>
                        <input type="file" id="image3" accept="image/gif, image/jpeg, image/png" name="productimage3"  />
                        <textarea name="image3_b64" id="imageValue3" cols="30" rows="10" hidden></textarea>
                    </span>
                </div>
            </div>
        </div>
       

     {{!-- item 3 end--}}


     {{!-- item 4 start --}}
        <div class="col-md-2 col-sm-2">
            <h4 class="title"> Image 4</h4>
            <div class="fileinput fileinput-new text-center">
                <div class="fileinput-new thumbnail">
                    <img  src="/product-images/product-image4/{{products._id}}.jpg" id="chekPreview4" alt="...">

                </div>
                <div>
                    <span class="btn btn-rose btn-round btn-file">
                        <span class="fileinput-new">Select image</span>
                        <input type="file" id="image4" accept="image/gif, image/jpeg, image/png" name="productimage4"  />
                        <textarea name="image4_b64" id="imageValue4" cols="30" rows="10" hidden></textarea>
                    </span>
                </div>
            </div>
        </div>
         <div style="padding-top: 20%;" class="col-md-4 text-center ">
            
           <button class="btn">Add products </button>
             
        </div>

     {{!-- item 4 end--}}



    </div>
</div>
</div>

<!-- Modal 1-->
<div class="modal" id="modal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Crop Image Here</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="img-container">
                    <div class="row">
                        <div class="col-md-8">
                            <img src="" id="sampleImage1" style="width: 150px;" />
                        </div>
                        <div class="col-md-4">
                            <div class="preview" id="preview1"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">

                <button type="button" id="crop1" class="btn btn-primary">Crop</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>

            </div>
        </div>
    </div>
</div>
<!-- Modal  1 end-->



<!-- Modal 2-->
<div class="modal" id="modal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Crop Image Here</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="img-container">
                    <div class="row">
                        <div class="col-md-8">
                            <img src="" id="sampleImage2" style="width: 150px;"  />
                        </div>
                        <div class="col-md-4">
                            <div class="preview" id="preview2"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">

                <button type="button" id="crop2" class="btn btn-primary">Crop</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>

            </div>
        </div>
    </div>
</div>
<!-- Modal  2 end-->


<!-- Modal 3-->
<div class="modal" id="modal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Crop Image Here</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="img-container">
                    <div class="row">
                        <div class="col-md-8">
                            <img src="" id="sampleImage3" style="width: 150px;"  />
                        </div>
                        <div class="col-md-4">
                            <div class="preview" id="preview3"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">

                <button type="button" id="crop3" class="btn btn-primary">Crop</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>

            </div>
        </div>
    </div>
</div>
<!-- Modal  3 end-->

<!-- Modal 4-->
<div class="modal" id="modal4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Crop Image Here</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="img-container">
                    <div class="row">
                        <div class="col-md-8">
                            <img src="" id="sampleImage4" style="width: 150px;"  />
                        </div>
                        <div class="col-md-4">
                            <div class="preview" id="preview4"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">

                <button type="button" id="crop4" class="btn btn-primary">Crop</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>

            </div>
        </div>
    </div>
</div>
<!-- Modal  4 end-->
                    </div>
                         
                         {{!-- <div>

                    <button type="submit" class="btn btn-primary " onclick="editProduct('{{this._id}}')">Edit Product</button>
                         </div> --}}
                         <div>
                             <button type="submit" class="btn btn-primary">add Product</button>
                         </div>
                  </div>
                </form>

                
            </div>
        </div>
        
    </div>
    
</div>
<style>
    .btn-file {
        position: relative;
        overflow: hidden;
    }

    .btn-file input[type=file] {
        position: absolute;
        top: 0;
        right: 0;
        min-width: 100%;
        min-height: 100%;
        font-size: 100px;
        text-align: right;
        filter: alpha(opacity=0);
        opacity: 0;
        outline: none;
        background: white;
        cursor: inherit;
        display: block;
    }

    #img-upload ,#img-upload2,#img-upload3,#img-upload4 {
        width: 100%;
    }
</style>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

<script>
 document.getElementById('inputCategory').onchange=e=>{
         console.log(e.target.value)
     Category=e.target.value
    $.ajax({
        url:'/admin/getCategory',
        method:"POST",
        data:{Category},
        success: (res)=>{
           
             document.getElementById("inputsubCategory").innerHTML=""
             for(let i=0;i<res.sorttedCategory.subcategory.length;i++){
            let element =   `<option>${res.sorttedCategory.subcategory[i]}</option>`
            document.getElementById("inputsubCategory").innerHTML+=element
             }
        }
    })
     }
</script>


<script>

    $('document').ready(function() {
//modal1 and image 1
    var image1 = document.getElementById('sampleImage1');
    var modal1 = $('#modal1');
    var cropper1;

    $('#image1').change(function (event) {
        var files = event.target.files;

        var done = function (url) {
            image1.src = url;
            modal1.modal('show');
        };

        if (files && files.length > 0) {
            reader = new FileReader();
            reader.onload = function (event) {
                done(reader.result);
            };
            reader.readAsDataURL(files[0]);
        }
    });

    modal1.on('shown.bs.modal', function () {
        cropper1 = new Cropper(image1, {
            aspectRatio: 1,
            viewMode: 3,
            preview: '#preview1'
        });
    }).on('hidden.bs.modal', function () {
        cropper1.destroy();
        cropper1 = null;
    });

    $('#crop1').click(function () {
        canvas = cropper1.getCroppedCanvas({
            width: 600,
            height: 600
        });

        canvas.toBlob(function (blob) {
            url = URL.createObjectURL(blob);
            var reader = new FileReader();
            reader.readAsDataURL(blob);
            reader.onloadend = function () {
                var base64data = reader.result;
                modal1.modal('hide');
                $("#imageValue1").val(base64data)
                $('#chekPreview1').attr('src', base64data);
            };
        });
    });
//modal1 and image 1 end

//modal2 and image 2
    var image2 = document.getElementById('sampleImage2');
    var modal2 = $('#modal2');
    var cropper2;

    $('#image2').change(function (event) {
        var files = event.target.files;

        var done = function (url) {
            image2.src = url;
            modal2.modal('show');
        };

        if (files && files.length > 0) {
            reader = new FileReader();
            reader.onload = function (event) {
                done(reader.result);
            };
            reader.readAsDataURL(files[0]);
        }
    });

    modal2.on('shown.bs.modal', function () {
        cropper2 = new Cropper(image2, {
            aspectRatio: 1,
            viewMode: 3,
            preview: '#preview2'
        });
    }).on('hidden.bs.modal', function () {
        cropper2.destroy();
        cropper2 = null;
    });

    $('#crop2').click(function () {
        canvas = cropper2.getCroppedCanvas({
            width: 600,
            height: 600
        });

        canvas.toBlob(function (blob) {
            url = URL.createObjectURL(blob);
            var reader = new FileReader();
            reader.readAsDataURL(blob);
            reader.onloadend = function () {
                var base64data = reader.result;
                modal2.modal('hide');
                $("#imageValue2").val(base64data)
                $('#chekPreview2').attr('src', base64data);
            };
        });
    });
//image 2 and modal 2 end


//modal3 and image 3 start
    var image3 = document.getElementById('sampleImage3');
    var modal3 = $('#modal3');
    var cropper3;

    $('#image3').change(function (event) {
        var files = event.target.files;

        var done = function (url) {
            image3.src = url;
            modal3.modal('show');
        };

        if (files && files.length > 0) {
            reader = new FileReader();
            reader.onload = function (event) {
                done(reader.result);
            };
            reader.readAsDataURL(files[0]);
        }
    });

    modal3.on('shown.bs.modal', function () {
        cropper3 = new Cropper(image3, {
            aspectRatio: 1,
            viewMode: 3,
            preview: '#preview3'
        });
    }).on('hidden.bs.modal', function () {
        cropper3.destroy();
        cropper3 = null;
    });

    $('#crop3').click(function () {
        canvas = cropper3.getCroppedCanvas({
            width: 600,
            height: 600
        });

        canvas.toBlob(function (blob) {
            url = URL.createObjectURL(blob);
            var reader = new FileReader();
            reader.readAsDataURL(blob);
            reader.onloadend = function () {
                var base64data = reader.result;
                modal3.modal('hide');
                $("#imageValue3").val(base64data)
                $('#chekPreview3').attr('src', base64data);
            };
        });
    });
//image 3 and modal 3 end

//modal4 and image 4 start
    var image4 = document.getElementById('sampleImage4');
    var modal4 = $('#modal4');
    var cropper4;

    $('#image4').change(function (event) {
        var files = event.target.files;

        var done = function (url) {
            image4.src = url;
            modal4.modal('show');
        };

        if (files && files.length > 0) {
            reader = new FileReader();
            reader.onload = function (event) {
                done(reader.result);
            };
            reader.readAsDataURL(files[0]);
        }
    });

    modal4.on('shown.bs.modal', function () {
        cropper4 = new Cropper(image4, {
            aspectRatio: 1,
            viewMode: 3,
            preview: '#preview4'
        });
    }).on('hidden.bs.modal', function () {
        cropper4.destroy();
        cropper4 = null;
    });

    $('#crop4').click(function () {
        canvas = cropper4.getCroppedCanvas({
            width: 600,
            height: 600
        });

        canvas.toBlob(function (blob) {
            url = URL.createObjectURL(blob);
            var reader = new FileReader();
            reader.readAsDataURL(blob);
            reader.onloadend = function () {
                var base64data = reader.result;
                modal4.modal('hide');
                $("#imageValue4").val(base64data)
                $('#chekPreview4').attr('src', base64data);
            };
        });
    });
//image 4 and modal 4 end

  });

</script>



 {{!-- <script>

      //product
      var productField=document.getElementById('inputProduct')
      var validproduct=false;
      productField.addEventListener('input',(e)=>{
          console.log(e.target.value)
          var product=productField.value
          if(product.length==0)
          {
              text="please enter Product name",
              productError.innerHTML =text
              validproduct=false
          }
          else
          {
           validproduct=true;
        productError.innerHTML=" ";
          }
      })



      //category
      var categoryField=document.getElementById('inputCategory')
      var validcategory=false;
      categoryField.addEventListener('input',(e)=>{
          console.log(e.target.value)
          var category=categoryField.value
          if(category.length==0)
          {
              text="please enter Product name",
              categoryError.innerHTML =text
              validcategory=false
          }
          else
          {
           validcategory=true;
        categoryError.innerHTML=" ";
          }
      })

      //subcategory
      var subcategoryField=document.getElementById('inputsubCategory')
      var validsubcategory=false;
      subcategoryField.addEventListener('input',(e)=>{
          console.log(e.target.value)
          var subcategory=subcategoryField.value
          if(subcategory.length==0)
          {
              text="please enter Product name",
              subcategoryError.innerHTML =text
              validsubcategory=false
          }
          else
          {
           validsubcategory=true;
        subcategoryError.innerHTML=" ";
          }
      })


      //price
      var priceField=document.getElementById('inputPrice')
      var validprice=false;
      priceField.addEventListener('input',(e)=>{
          console.log(e.target.value)
          var price=priceField.value
          if(price.length==0)
          {
              text="please enter Product price",
              priceError.innerHTML =text
              validprice=false
          }
          else
          {
           validprice=true;
        priceError.innerHTML=" ";
          }
      })


     //Quantity
      var quantityField=document.getElementById('inputQuantity')
      var validquantity=false;
      quantityField.addEventListener('input',(e)=>{
          console.log(e.target.value)
          var quantity=quantityField.value
          if(quantity.length==0)
          {
              text="please enter Product quantity",
            quantityError.innerHTML =text
              validquantity=false
          }
          else
          {
           validquantity=true;
        quantityError.innerHTML=" ";
          }
      })


      //Description
      var descriptionField=document.getElementById('exampleFormControlTextarea1')
      var validdescription=false;
      descriptionField.addEventListener('input',(e)=>{
          console.log(e.target.value)
          var description=descriptionField.value
          if(description.length==0)
          {
              text="please enter Product description",
            descriptionError.innerHTML =text
              validdescription=false
          }
          else
          {
           validdescription=true;
        descriptionError.innerHTML=" ";
          }
      })

      function editProduct(proId){

      if(validproduct==true && validdescription==true &&  validquantity==true && validprice=true   validsubcategory=true && validcategory==true)
      {
          $('#addProduct').submit((e)=>{
              $.ajax({
                  url:"/admin/productmanagmnet/editproduct/"+proId,
                  method:"post",
                  data:$('#addProduct').serialize(),
                  success:(response)=>{

                  }
              })
          })
      }
      }

  </script> --}}
