<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
<div class="app-main" id="main">
                    <!-- begin container-fluid -->
                    <div class="container-fluid">
                        <!-- begin row -->
                        <div class="row">
                            <div class="col-md-12 m-b-30">
                                <!-- begin page title -->
                                <div class="d-block d-sm-flex flex-nowrap align-items-center">
                                    <div class="page-title mb-2 mb-sm-0">
                                        <h1>Gkart</h1>
                                    </div>
                                    <div class="ml-auto d-flex align-items-center">
                                        
                                    </div>
                                </div>
                                <!-- end page title -->
                            </div>
                        </div>
                        <!-- end row -->
                        <!-- begin row -->
                        <div class="row">
                            <div class="col-sm-6 col-xxl-3">
                                <div class="card card-statistics ecommerce-contant overflow-h">
                                    <div class="card-body p-0">
                                        <div class="d-flex m-b-0 ecommerce-contant-text h-100">
                                            <div class="w-100">
                                                <div class="row p-3">
                                                    <div class="col">
                                                        <h3 class="mb-0">{{userCount}}</h3>
                                                        <small class="d-block">Last 6 months</small>
                                                    </div>
                                                    <div class="col text-right">
                                                        <h5 class="text-muted mb-0">Tottal Users</h5>
                                                        {{!-- <strong class="text-danger m-t-5"><i class="zmdi zmdi-long-arrow-up font-weight-bold"></i> N/A</strong> --}}
                                                    </div>
                                                </div>
                                                {{!-- <div class="apexchart-wrapper">
                                                    <div id="ecommercedemo3" class="chart-fit"></div>
                                                </div> --}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-xxl-3">
                                <div class="card card-statistics ecommerce-contant overflow-h">
                                    <div class="card-body p-0">
                                        <div class="d-flex ecommerce-contant-text m-b-0 h-100">
                                            <div class="w-100">
                                                <div class="row p-3">
                                                    <div class="col">
                                                        <h3 class="mb-0">{{orderCount}}</h3>
                                                        <small class="d-block">Past 12 hours</small>
                                                    </div>
                                                    <div class="col text-right">
                                                        <h5 class="text-muted mb-0">Total Order</h5>
                                                        {{!-- <strong class="text-primary m-t-5"><i class="zmdi zmdi-long-arrow-up font-weight-bold"></i> 5.35%</strong> --}}
                                                    </div>
                                                </div>
                                                {{!-- <div class="apexchart-wrapper">
                                                    <div id="ecommercedemo1" class="chart-fit"></div>
                                                </div> --}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-xxl-3">
                                <div class="card card-statistics ecommerce-contant overflow-h">
                                    <div class="card-body p-0">
                                        <div class="d-flex m-b-0 ecommerce-contant-text h-100">
                                            <div class="w-100">
                                                <div class="w-100">
                                                    <div class="row p-3">
                                                        <div class="col">
                                                            <h3 class="mb-0">{{productCount}}</h3>
                                                            <small class="d-block">Last 90 days</small>
                                                        </div>
                                                        <div class="col text-right">
                                                            <h5 class="text-muted mb-0">Total Product</h5>
                                                            {{!-- <strong class="text-orange m-t-5"><i class="zmdi zmdi-long-arrow-up font-weight-bold"></i> 4.65%</strong> --}}
                                                        </div>
                                                    </div>
                                                </div>
                                                {{!-- <div class="apexchart-wrapper">
                                                    <div id="ecommercedemo2" class="chart-fit"></div>
                                                </div> --}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-xxl-3">
                                <div class="card card-statistics ecommerce-contant overflow-h">
                                    <div class="card-body p-0">
                                        <div class="d-flex m-b-0 ecommerce-contant-text h-100">
                                            <div class="w-100">
                                                <div class="row p-3">
                                                    <div class="col">
                                                        <h3 class="mb-0">{{totalSalesAmount.revenue}}</h3>
                                                        <small class="d-block">Last 3 months</small>
                                                    </div>
                                                    <div class="col text-right">
                                                        <h5 class="text-muted mb-0">Income</h5>
                                                        {{!-- <strong class="text-success m-t-5"><i class="zmdi zmdi-long-arrow-up font-weight-bold"></i> 9.89%</strong> --}}
                                                    </div>
                                                </div>
                                                {{!-- <div class="apexchart-wrapper">
                                                    <div id="ecommercedemo4" class="chart-fit"></div>
                                                </div> --}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xxl-8 m-b-30">
                                <div class="card card-statistics h-100 mb-0">
                                    <div class="card-header d-flex align-items-center justify-content-between">
                                        <div class="card-heading">
                                            <h4 class="card-title">Top selling products</h4>
                                        </div>
                                        <div class="dropdown">
                                            <a class="btn btn-xs" href="#!">Export <i class="zmdi zmdi-download pl-1"></i> </a>
                                        </div>
                                    </div>
                                    <div class="card-body scrollbar scroll_dark pt-0" style="max-height: 350px;">
                                        <div class="datatable-wrapper table-responsive">
                                            <table id="datatable" class="table table-borderless table-striped">
                                                <thead>
                                                    <tr>
                                                        <th>#</th>
                                                        <th>Name</th>
                                                        <th>Price</th>
                                                        <th>In stock</th>
                                                        <th>Status</th>
                                                        <th>Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {{#each topSellingProducts}}
                                                    <tr>
                                                      
                                                        <td>{{this.count}}</td>
                                                        <td>{{this.product.product}}</td>
                                                        <td>{{this.product.price}}</td>
                                                        <td>
                                                            {{this.product.quantity}}
                                                        </td>
                                                        <td>Active</td>
                                                        <td>{{this.product.category}}</td>
                                                    </tr>
                                                   {{/each}}
                                                </tbody>
                                                <tfoot>
                                                    <tr>
                                                        <th>#</th>
                                                        <th>Name</th>
                                                        <th>Price</th>
                                                        <th>In stock</th>
                                                        <th>Status</th>
                                                        <th>Action</th>
                                                    </tr>
                                                </tfoot>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xxl-4 m-b-30">
                                <div class="card card-statistics h-100 mb-0">
                                    <div class="card-header d-flex justify-content-between">
                                        <div class="card-heading">
                                            <h4 class="card-title">Payment Method</h4>
                                        </div>
                                        <div class="dropdown">
                                            <a class="p-2" href="#!" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <i class="fe fe-circle"></i>
                                            </a>
                                            <div class="dropdown-menu custom-dropdown dropdown-menu-right p-4">
                                                <h6 class="mb-1">Action</h6>
                                                <a class="dropdown-item" href="#!"><i class="fa-fw fa fa-file-o pr-2"></i>View reports</a>
                                                <a class="dropdown-item" href="#!"><i class="fa-fw fa fa-edit pr-2"></i>Edit reports</a>
                                                <a class="dropdown-item" href="#!"><i class="fa-fw fa fa-bar-chart-o pr-2"></i>Statistics</a>
                                                <h6 class="mb-1 mt-3">Export</h6>
                                                <a class="dropdown-item" href="#!"><i class="fa-fw fa fa-file-pdf-o pr-2"></i>Export to PDF</a>
                                                <a class="dropdown-item" href="#!"><i class="fa-fw fa fa-file-excel-o pr-2"></i>Export to CSV</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                       
                                        <div class="row mt-4">
                                            
                                                <canvas id="pie-chart" width="800" height="450"></canvas>
                                            </div>
                                            {{!-- <div class="col-lg-4 mt-4"> --}}
                                                
                                                {{!-- <div class="mb-3">
                                                    <h3 class="mb-0">800</h3>
                                                    <p class="mb-0 text-primary">Open campaign</p>
                                                </div>
                                                <div class="mb-3">
                                                    <h3 class="mb-0">500</h3>
                                                    <p class="mb-0">Daily sales</p>
                                                </div> --}}
                                            {{!-- </div> --}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xxl-6 m-b-30">
                                <div class="card card-statistics h-100 mb-0">
                                    <div class="card-header">
                                        <h4 class="card-title">Weekly Sales Report</h4>
                                    </div>
                                    <div class="card-body pb-0">
                                       <canvas id="line-chart" width="800" height="450"></canvas>
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="col-xxl-6 m-b-30">
                                <div class="card card-statistics h-100 mb-0">
                                    <div class="card-header d-sm-flex justify-content-between align-items-center py-3">
                                        <div class="card-heading mb-3 mb-sm-0">
                                            <h4 class="card-title">Invoices Status</h4>
                                        </div>
                                        <div class="dropdown">
                                            <input type="text" class="form-control form-control-sm" placeholder="Search Invoice" />
                                        </div>
                                    </div>
                                    <div class="card-body scrollbar scroll_dark" style="max-height: 420px;">
                                        <div class="d-xxs-flex align-items-center">
                                            <div class="total-sales">
                                                <p>Total Sales</p>
                                                <h1>{{totalSalesAmount.revenue}}</h1>
                                            </div>
                                            <div class="mb-3 mb-sm-0 ml-auto">
                                                <button class="btn btn-primary btn-xs">View All Invoices</button>
                                            </div>
                                        </div>
                                        {{!-- <div class="d-none d-sm-flex progress m-t-20 m-b-0" style="height: 5px;">
                                            <div class="progress-bar bg-primary" role="progressbar" style="width: 25%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
                                            <div class="progress-bar bg-warning" role="progressbar" style="width: 25%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
                                            <div class="progress-bar bg-info" role="progressbar" style="width: 25%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
                                            <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div> --}}
                                        {{!-- <div class="row no-gutters">
                                            <div class="col-6 col-xxs-3 ">
                                                <p>Overdue</p>
                                                <h4>$1596</h4>
                                            </div>
                                            <div class="col-6 col-xxs-3 ">
                                                <p>Outstanding</p>
                                                <h4>$2586</h4>
                                            </div>
                                            <div class="col-6 col-xxs-3 ">
                                                <p>Open</p>
                                                <h4>$5678</h4>
                                            </div>
                                            <div class="col-6 col-xxs-3 ">
                                                <p>Paid</p>
                                                <h4>$2458</h4>
                                            </div>
                                        </div> --}}
                                        <div class="table-responsive m-t-20">
                                            <table id="datatable-buttons" class="table">
                                                <thead>
                                                    <tr>
                                                        <th>date</th>
                                                        <th>Payment method</th> 
                                                        <th>Status</th>
                                                        <th>tottal</th>
                                                       
                                                    </tr>
                                                </thead>
                                                <tbody class="text-muted">
                                                    {{#each lastOrderList}}
                                                    <tr>
                                                        <td>{{this.date}}</td>
                                                        <td>{{this.paymentMethod}}</td>
                                                        <td>{{this.status}}</td>
                                                        <td>{{this.tottal}}</td>
                                                        <td>
                                                            <label class="badge mb-0 badge-primary-inverse"> Overdue</label>
                                                        </td>
                                                    </tr>
                                                    {{/each}}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="row">
                                    <div class="col-xl-6 col-xxl-4">
                                        <div class="card card-statistics">
                                            <div class="card-header">
                                                <h4 class="card-title">Order Status</h4>
                                            </div>
                                            <div class="card-body pb-2">
                                                        <canvas id="polar-chart" width="800" height="450"></canvas>
                                                  
                                            </div>
                                        </div>
                                        <div class="card card-statistics bg-gradient">
                                            <div class="card-header d-flex justify-content-between border-0 pb-0">
                                                <div class="card-heading">
                                                    <h4 class="card-title text-white">Next payout</h4>
                                                </div>
                                                <div class="dropdown">
                                                    <a class="text-white tooltip-wrapper font-18" href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Payout account: XXXX4955"><i class="fa fa-question-circle-o"></i></a>
                                                </div>
                                            </div>
                                            <div class="card-body">
                                                <h2 class="text-white mb-0">{{totalSalesAmount.revenue}}</h2>
                                                <p class="text-white"></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-xxl-4 m-b-30">
                                        <div class="card card-statistics h-100 mb-0">
                                            <div class="card-header">
                                                <h4 class="card-title">Best selling product</h4>
                                            </div>
                                            <div class="card-body">
                                                <div class="blog">
                                                    <img class="img-fluid" src="assets/img/product.jpg" alt="">
                                                    <h4 class="m-b-10 m-t-20"><a href="#">{{aTopProduct.product.product}}</a></h4>
                                                    <p>{{aTopProduct.product.category}}</p>
                                                </div>
                                                <div class="product-bar m-t-30">
                                                    <div class="d-flex">
                                                        <span>Ordered: <b>{{aTopProduct.count}}</b></span>
                                                        <span class="ml-auto">Items available: <b>{{aTopProduct.product.quantity}}</b></span>
                                                    </div>
                                                    <div class="progress my-3" style="height: 6px;">
                                                        <div class="progress-bar bg-success" role="progressbar" style="width: 65%;" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {{!-- <div class="col-xxl-4 m-b-30">
                                        <div class="card card-statistics h-100 mb-0">
                                            <div class="card-header">
                                                <h4 class="card-title">Sales overview</h4>
                                            </div>
                                            <div class="card-body p-30">
                                                <div class="row">
                                                    <div class="col-xxs-6 h-100 p-2 border-right border-bottom border-xxs-right-0">
                                                        <div class="d-flex align-items-center justify-content-center">
                                                            <div class="p-3 text-center">
                                                                <a href="javascript:void(0);" class="btn btn-icon btn-round btn-inverse-primary"><i class="fe fe-settings"></i></a>
                                                                <h2 class="m-t-20 mb-0">$272</h2>
                                                                <p class="text-muted d-block m-b-0">Avg. Order Value</p>
                                                                <span class="text-primary"> <i class="fe fe-activity"></i> 155.5% </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-xxs-6 h-100 p-2 border-bottom">
                                                        <div class="d-flex align-items-center justify-content-center">
                                                            <div class="p-3 text-center">
                                                                <a href="javascript:void(0);" class="btn btn-icon btn-round btn-inverse-success"><i class="fe fe-user-check"></i></a>
                                                                <h2 class="m-t-20 mb-0">$450</h2>
                                                                <p class="text-muted d-block m-b-0">Page Impressions</p>
                                                                <span class="text-success"> <i class="fe fe-arrow-down-left"></i> 155.5% </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-xxs-6 h-100 p-2 border-right border-xxs-bottom border-xxs-right-0">
                                                        <div class="d-flex align-items-center justify-content-center">
                                                            <div class="p-3 text-center">
                                                                <a href="javascript:void(0);" class="btn btn-icon btn-round btn-inverse-danger"><i class="fe fe-bar-chart-2"></i></a>
                                                                <h2 class="m-t-20 mb-0">$135</h2>
                                                                <p class="text-muted d-block m-b-0">Quantity</p>
                                                                <span class="text-danger"> <i class="fe fe-arrow-down-right"></i> 155.5% </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-xxs-6 h-100 p-2 ">
                                                        <div class="d-flex align-items-center justify-content-center">
                                                            <div class="p-3 text-center">
                                                                <a href="javascript:void(0);" class="btn btn-icon btn-round btn-inverse-info"><i class="fe fe-crosshair"></i></a>
                                                                <h2 class="m-t-20 mb-0">$7525</h2>
                                                                <p class="text-muted d-block m-b-0">Total Products</p>
                                                                <span class="text-info"> <i class="fe fe-arrow-up"></i> 155.5% </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div> --}}
                                </div>
                            </div>
                        </div>
                        <!-- end row -->
                    </div>
                    <!-- end container-fluid -->
                </div>
                <script>
                    $.ajax({
                        url:'/admin/home',
                        method:'POST',
                        data:{},
                        success: (response)=>{
if(response){
    console.log(response.labels)
    console.log(response.values)
      new Chart(document.getElementById("pie-chart"), {
    type: 'pie',
    data: {
      labels: response.labels,
      datasets: [{
        label: "Population (millions)",
        backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f"],
        data: response.values,
      }]
    },
    options: {
      title: {
        display: true,
        text: 'Payment Method '
      }
    }
});
//next line
new Chart(document.getElementById("polar-chart"), {
    type: 'polarArea',
    data: {
      labels:response.orderstatus,
      datasets: [
        {
          label: "Population (millions)",
          backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9","#c45850"],
          data: response.ordervalue
        }
      ]
    },
    options: {
      title: {
        display: true,
        text: 'Predicted world population (millions) in 2050'
      }
    }
});
console.log(response.salesWise)
                    //line 3
                    new Chart(document.getElementById("line-chart"), {
  type: 'line',
  data: {
    labels: ["","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday","Sunday"],
    datasets: [{ 
        data: response.salesWise,
        label: "Sales",
        borderColor: "#3e95cd",
        fill: false
      }, 
    ]
  },
  options: {
    title: {
      display: true,
      text: 'Oder done per user '
    }
  }
});
                  
}

                        }
                    })



                </script>