  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/js/standalone/selectize.min.js" integrity="sha256-+C0A5Ilqmu4QcSPxrlGpaZxJ04VjsRjKu+G82kl5UJk=" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/css/selectize.bootstrap3.min.css" integrity="sha256-ze/OEYGcFbPRmvCnrSeKbRTtjG4vGLHXgOqsyLFTRjg=" crossorigin="anonymous" />
</head>
  <div class="app-main" id="main">
                    <!-- begin container-fluid -->
                    <div class="container-fluid">
                        <!-- begin row -->
                        <div class="row">
                            <div class="col-md-12 m-b-30">
                                <!-- begin page title -->
                                <div class="d-block d-sm-flex flex-nowrap align-items-center">
                                    <div class="page-title mb-2 mb-sm-0">
                                        <h1>Product Offer</h1>
                                    </div>
                                    <div class="ml-auto d-flex align-items-center">
                                       
                                    </div>
                                </div>
                                <!-- end page title -->
                            </div>
                        </div>
                        <!-- end row -->
                        <!-- begin row -->
                        <div class="row">
                            
                            <div class="col-xl-6">
                                <div class="card card-statistics">
                                    <div class="card-header">
                                        <div class="card-heading">
                                            <h4 class="card-title">Add Product Offer</h4>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <form id="productOffer">
                                            <div class="form-row">
                                               
                                                
                                                 <div class="form-group col-md-6">
                                                    <label for="Product name">Enter Product Name</label>
                                                    <select type="text" class="form-control" id="productname" placeholder="productname" name="productname">

                                                        {{#each product}}
                                                        <option value="{{this.product}}">{{this.product}}</option>
                                                          {{/each}}
                                                        </select>
                                                         <p class="text-danger" id="error1"></p>
                                                </div>
                                            </div>
                                            
                                            <div class="form-row">
                                                <div class="form-group col-md-6">
                                                    <label for="inputZip">Offer percentage</label>
                                                    <input type="number" class="form-control" id="offerpercentage" name="offerpercentage" placeholder="percetage" maxlength="2">
                                                    <p class="text-danger" id="error2"></p>
                                                </div>
                                                <div class="form-group col-md-6">
                                                    <label for="expdate">Offer Exiry Date</label>
                                                    <input type="date" class="form-control" id="expdate" name="expdate">
                                                    <p class="text-danger" id="error3"></p>
                                                </div>
                                                
                                                
                                            </div>
                                        
                                            <button type="submit" class="btn btn-primary" >Submit</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                              <div class=" col-xl-6">
                                <div class="card card-statistics">
                                    <div class="card-header">
                                        <div class="card-heading">
                                            <h4 class="card-title">Offer list</h4>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div class="table-responsive">
                                            <table class="table table-borderless mb-0">
                                                <thead>
                                                    <tr>
                                                        <th scope="col">Product</th>
                                                        <th scope="col">Offer Amount</th>
                                                        <th scope="col">Expiry Date</th>
                                                        <th scope="col">Options</th> 
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {{#each offerProduct}}
                                                    <tr>
                                                        <th scope="row">{{this.product}}</th>
                                                        <td>{{this.productOffer}}</td>
                                                        <td>{{this.expiryDate}}</td>
                                                      <td> <button class="btn btn-sm btn-danger" onclick="deleteOffer('{{this._id}}')"><i class="fa fa-trash"></i></button></td> 
                                                        
                                                    </tr>
                                                    {{/each}}
                                                    
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                       
                        <!-- end row -->
                    </div>
                    <!-- end container-fluid -->
                </div>

                <script>

                    //serach in selecet
                      $(document).ready(function () {
      $('productname').selectize({
          sortField: 'text'
      });
  });

                     //disable pervious date
                      var today = new Date();
                     var dd = String(today.getDate()).padStart(2, '0');
                    var mm = String(today.getMonth() + 1).padStart(2, '0');
                    var yyyy = today.getFullYear();

                    today = yyyy + '-' + mm + '-' + dd;
                    $('#expdate').attr('min',today);

                   //add offer
                   
                 
                  
                   
                       $(document).ready(function () {
                $('#productname').change(function () {
                    checkcategoryName()

                })

            })
            function checkcategoryName() {
                let namevalue = $("#productname").val()
                
                if (namevalue == "") {
                    $('#error1').html('please select category name')
                   
                }
                else {
                    categoryName = true
                    $('#error1').html('')

                }

            }
            //  Discount
            $(document).ready(function () {
                $('#discount').keyup(function () {
                    checkdiscount()

                })

            })
            function checkdiscount() {
                let namevalue = $("#offerpercentage").val()
                let regex1 = /^[a-zA-Z.,;:|\\\/~!@#$%^&*_-{}\[\]()`"'<>?\s]+$/;
                if (namevalue == "") {
                    $('#error2').html('please enter discount price')
                }
                else if (namevalue.match(regex1)) {
                    discount = false
                    $('#error2').html('number Only')

                } else if (namevalue > 80) {
                    $('#error2').html('Enter only lessthan 80 %')
                    discount = false
                } else if (namevalue < 10) {
                    $('#error2').html('Enter 10 % more')
                    discount = false
                } else {
                    discount = true
                    $('#error2').html('')
                }

            }
            //====== date

            $(document).ready(function () {
                $('#expdate').keyup(function () {
                    checkdate()

                })

            })
            function checkdate() {
                let namevalue = $("#expdate").val()

                if (namevalue == "") {
                    date = false
                    $('#error3').html('Please select expiry date')
                }
                else {
                    date = true
                    $('#error3').html('')
                }

            }
            
           
                      
                      
                     var categoryName =false;
                     var discount =false;
                     var date=false

                  
                    document.getElementById('productOffer').onsubmit=e=>{
                       if(categoryName && discount && date)
                       {
                        e.preventDefault();
                            
                        $.ajax({
                            url:"/admin/add-new-productoffer",
                            data:$('#productOffer').serialize(),
                            method:"POST",
                            success:(response)=>{
                             
                                if(response){ 
                                    window.location.relod()
                                }

                            }
                        })
                    }else{
                               e.preventDefault();
                           checkcategoryName()
                           checkdate();
                           checkdiscount();
                           
                    }

                    }
                  
                  
                  
                    function deleteOffer(id){
                        Swal.fire({
  title: 'Are you sure?',
  text: "You won't be able to revert this!",
  icon: 'warning',
  showCancelButton: true,
  confirmButtonColor: '#3085d6',
  cancelButtonColor: '#d33',
  confirmButtonText: 'Yes, delete it!'
}).then((result) => {
  if (result.isConfirmed) {
                        $.ajax({
                            url:"/admin/delete-product-offer",
                            method:"POST",
                            data:{
                                proId:id
                            },
                            success:(response)=>{
                           
                                if(response.status){
                                    window.location.reload()
                                }
                            }
                        
                        })
                        }
  				else{


					}
				
})
                    }

</script>
<script>

              
                    
                </script>