  <div class="app-main" id="main">
                    <!-- begin container-fluid -->
                    <div class="container-fluid">
                        <!-- begin row -->
                        <div class="row">
                            <div class="col-md-12 m-b-30">
                                <!-- begin page title -->
                                <div class="d-block d-sm-flex flex-nowrap align-items-center">
                                    <div class="page-title mb-2 mb-sm-0">
                                        <h1>Product Offer</h1>
                                    </div>
                                    <div class="ml-auto d-flex align-items-center">
                                       
                                    </div>
                                </div>
                                <!-- end page title -->
                            </div>
                        </div>
                        <!-- end row -->
                        <!-- begin row -->
                        <div class="row">
                            
                            <div class="col-xl-6">
                                <div class="card card-statistics">
                                    <div class="card-header">
                                        <div class="card-heading">
                                            <h4 class="card-title">Add Product Offer</h4>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <form id="productOffer">
                                            <div class="form-row">
                                               
                                                
                                                 <div class="form-group col-md-6">
                                                    <label for="Product name">Enter Product Name</label>
                                                    <select type="text" class="form-control" id="productname" placeholder="productname" name="productname">
                                                        
                                                        {{#each product}}
                                                        <option value="{{this.product}}">{{this.product}}</option>
                                                          {{/each}}
                                                        </select>
                                                         <p class="text-danger" id="productError"></p>
                                                </div>
                                            </div>
                                            
                                            <div class="form-row">
                                                <div class="form-group col-md-6">
                                                    <label for="inputZip">Offer percentage</label>
                                                    <input type="number" class="form-control" id="offerpercentage" name="offerpercentage" placeholder="percetage" maxlength="2">
                                                </div>
                                                <div class="form-group col-md-6">
                                                    <label for="expdate">Offer Exiry Date</label>
                                                    <input type="date" class="form-control" id="expdate" name="expdate">
                                                </div>
                                                
                                                
                                            </div>
                                        
                                            <button type="submit" class="btn btn-primary" >Submit</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                              <div class=" col-xl-6">
                                <div class="card card-statistics">
                                    <div class="card-header">
                                        <div class="card-heading">
                                            <h4 class="card-title">Offer list</h4>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div class="table-responsive">
                                            <table class="table table-borderless mb-0">
                                                <thead>
                                                    <tr>
                                                        <th scope="col">Product</th>
                                                        <th scope="col">Offer Amount</th>
                                                        <th scope="col">Expiry Date</th>
                                                        <th scope="col">Options</th> 
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {{#each offerProduct}}
                                                    <tr>
                                                        <th scope="row">{{this.product}}</th>
                                                        <td>{{this.productOffer}}</td>
                                                        <td>{{this.expiryDate}}</td>
                                                      <td> <button class="btn btn-sm btn-danger" onclick="deleteOffer('{{this._id}}')"><i class="fa fa-trash"></i></button></td> 
                                                        
                                                    </tr>
                                                    {{/each}}
                                                    
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                       
                        <!-- end row -->
                    </div>
                    <!-- end container-fluid -->
                </div>

                <script>

                     //disable pervious date
                      var today = new Date();
                     var dd = String(today.getDate()).padStart(2, '0');
                    var mm = String(today.getMonth() + 1).padStart(2, '0');
                    var yyyy = today.getFullYear();

                    today = yyyy + '-' + mm + '-' + dd;
                    $('#expdate').attr('min',today);

                   //add offer
                    document.getElementById('productOffer').onsubmit=e=>{
                        e.preventDefault();
                        
                        $.ajax({
                            url:"/admin/add-new-productoffer",
                            data:$('#productOffer').serialize(),
                            method:"POST",
                            success:(response)=>{
                             
                                if(response){ 
                                    window.location.relod()
                                }

                            }
                        })
                    }

                    function deleteOffer(id){
                        Swal.fire({
  title: 'Are you sure?',
  text: "You won't be able to revert this!",
  icon: 'warning',
  showCancelButton: true,
  confirmButtonColor: '#3085d6',
  cancelButtonColor: '#d33',
  confirmButtonText: 'Yes, delete it!'
}).then((result) => {
  if (result.isConfirmed) {
                        $.ajax({
                            url:"/admin/delete-product-offer",
                            method:"POST",
                            data:{
                                proId:id
                            },
                            success:(response)=>{
                           
                                if(response.status){
                                    window.location.reload()
                                }
                            }
                        
                        })
                        }
  				else{


					}
				
})
                    }

</script>
{{!-- <script>
                    //valiadtion
                    var productField= document.getElementById('productname')
      var validproduct=false;
      productField.addEventListener('input',(e)=>{
          console.log("got it")
          console.log(e.target.value)
          var product=productField.value
          if(product.length==0)
          {
              text="please enter Product name",
              productError.innerHTML =text
              validproduct=false
          }
          else
          {
           validproduct=true;
        productError.innerHTML=" ";
          }
      })

                  var dateField= document.getElementById('expdate')
      var validdate=false;
      adteField.addEventListener('input',(e)=>{
          console.log("got it")
          console.log(e.target.value)
          var date=dateField.value
          if(date.length==0)
          {
              text="please enter Product name",
              productError.innerHTML =text
              dateproduct=false
          }
          else
          {
           validdate=true;
        dateError.innerHTML=" ";
          }
      })

                  var percentageFiled= document.getElementById('offerpercentage')
      var validPercet=false;
      percentageFiled.addEventListener('input',(e)=>{
          console.log("got it")
          console.log(e.target.value)
          var percentage=percentageFiled.value
          if(percentage.length==0)
          {
              text="please enter Product name",
              percentageError.innerHTML =text
              validPercet=false
          }
          else
          {
           validPercet=true;
        percentageError.innerHTML=" ";
          }
      })


              
                    
                </script> --}}