<!-- begin app-main -->
<div class="app-main" id="main">
    <!-- begin container-fluid -->
    <div class="container-fluid">
        <!-- begin row -->
        <div class="row">
            <div class="col-md-12 m-b-30">
                <!-- begin page title -->
                <div class="d-block d-sm-flex flex-nowrap align-items-center">
                    <div class="page-title mb-2 mb-sm-0">
                        <h1>Editable Table</h1>
                    </div>
                    
                </div>
                <!-- end page title -->
            </div>
        </div>
        <!-- end row -->
        <!-- begin row -->
        <div class="row editable-wrapper">
            <div class="col-lg-12 ">
                <div class="card card-statistics">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table" id="table_id">
                                <thead class="thead-dark">
                                    <tr>
                                      
                                        <th scope="col">Name</th>
                                        <th scope="col">Email</th>
                                        {{!-- <th scope="col">phone number</th> --}}
                                        <th scope="col">Option</th>
                                    </tr>
                                </thead>
                                <tbody>
                                     {{#each users}}
                                    <tr>
                                        <td>{{this.username}}</td>
                                        <td>{{this.email}}</td>
                                        {{!-- <td>{{this.number}}</td> --}}
                                        <td>
                                            {{#if this.status}}
                                            
                                                
                                                <button class="btn btn-warning" type="submit" onclick="disableUser('{{this._id}}')">
                                         Block
                                        </button>
                                            
                                            
                                         {{else}}
                                          
                                                      <button class="btn btn-success" onclick="enableUser('{{this._id}}')">
                                         Unblock
                                        </button>
                                       
                                       
                                              {{/if}}
                                               </td>
                                        {{!-- <td><input type="button" value="Disable" class="btn btn-warning"></td> --}}
                                        {{!-- <td><input type="button" value="Enable" class="btn btn-sucess"></td> --}}
                                   </tr>
                                        {{/each}}
                                </tbody>
                            </table>


                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end row -->
    </div>
    <!-- end container-fluid -->
</div>
<!-- end app-main -->

<script>
          
    function disableUser(userId){
          Swal.fire({
  title: 'Are you sure ?',
  text: "You won't be able to revert this!",
  icon: 'warning',
  showCancelButton: true,
  confirmButtonColor: '#3085d6',
  cancelButtonColor: '#d33',
  confirmButtonText: 'Yes, Disable it!'
}).then((result) => {
  if (result.isConfirmed) {
            $.ajax({
                           url:"/admin/usermanagment/disableuser/"+userId,
                           method:"post",
                           data:{},
                           success:(respone)=>{
                                   //let blockBtn = document.getElementById('blockBtn').innerHTML='unblock'
                                 //document.getElementById('blockBtn').style.backgroundColor = "green";
                                 window.location.reload()
               
                           }

                       })

  }
  	else{


					}
				
})
                         }

           //enable user
         
          function enableUser(userId){
                            $.ajax({
                           url:"/admin/usermanagment/enableuser/"+userId,
                           method:"post",
                           data:{},
                           success:(respone)=>{
                                   //let blockBtn = document.getElementById('blockBtn').innerHTML='unblock'
                                 //document.getElementById('blockBtn').style.backgroundColor = "green";
                                
                                 window.location.reload()
               
                           }

                       })
            
                         }              
     



    $(document).ready( function () {
    $('#table_id').DataTable();
} );


</script>