 <meta name="google-signin-client_id" content="367337184905-5g58ji2bdun23ep367986hqrnonn7tfm.apps.googleusercontent.com">
<header id="header">
	<script src="https://apis.google.com/js/platform.js?onload=onLoad" async defer></script>
	<div class="container">
		<div class="header-top" style="margin-top: -7em;">
			<div class="row align-items-center">
				<!-- Header Left -->
				<div class="col-lg-5 col-md-5 col-sm-12">
					<!-- Main Menu -->
					<div id="main-menu">
						<ul class="menu">
							<li class="dropdown">
								<a href="/" title="Homepage" style="color:black">Home</a>
								
							</li>

							

						

							{{!-- <li class="dropdown">
								<a href="blog-list-left-sidebar-1.html" style="color:black">Blog</a>
								<div class="dropdown-menu">
									<ul class="has-sub">
										<li><a href="blog-list-left-sidebar-1.html"
												title="Blog List - Left Sidebar 1">Blog List - Left Sidebar 1</a></li>
										<li><a href="blog-list-left-sidebar-2.html"
												title="Blog List - Left Sidebar 2">Blog List - Left Sidebar 2</a></li>
										<li><a href="blog-grid-full-width.html" title="Blog Grid - Full Width">Blog Grid
												- Full Width</a></li>
										<li><a href="blog-detail.html" title="Blog Detail">Blog Detail</a></li>
									</ul>
								</div>
							</li> --}}
									<li class="dropdown">
							<a href="#" title="Page">Category</a>
							<div class="dropdown-menu">
								<ul>
									{{#each category}}
									<li class="dropdown-submenu">
										<a  class="btn btn-sm" style="color:#fff;" title="Product List" href="/category/{{this.category}}">{{this.category}}</a>
										{{!-- <div class="dropdown-menu level2">
											<ul>
												<li><a href="product-grid-left-sidebar.html" title="Product Grid - Left Sidebar">Product Grid - Left Sidebar</a></li>
												<li><a href="product-grid-right-sidebar.html" title="Product Grid - Right Sidebar">Product Grid - Right Sidebar</a></li>
												<li><a href="product-grid-full-width.html" title="Product Grid - Full Width">Product Grid - Full Width</a></li>
												<li><a href="product-list-left-sidebar.html" title="Product List - Left Sidebar">Product List - Left Sidebar</a></li>
											</ul>
										</div> --}}
									</li>
									{{/each}}
									{{!-- <li class="dropdown-submenu">
										<a href="product-detail-left-sidebar.html" title="Product List">Product Detail</a>
										<div class="dropdown-menu level2">
											<ul>
												<li><a href="product-detail-left-sidebar.html" title="Product Detail - Left Sidebar">Product Detail - Left Sidebar</a></li>
												<li><a href="product-detail-full-width-1.html" title="Product List - Full Width 1">Product Detail - Full Width 1</a></li>
												<li><a href="product-detail-full-width-2.html" title="Product List - Full Width 2">Product Detail - Full Width 2</a></li>
											</ul>
										</div>
									</li> --}}
								
					
									{{!-- <li class="dropdown-submenu">
										<a href="#" title="User">User</a>
										<div class="dropdown-menu level2">
											<ul>
												<li><a href="user-login.html" title="Login">Login</a></li>
												<li><a href="user-register.html" title="Register">Register</a></li>
												<li><a href="#" title="My Account">My Account</a></li>
												<li><a href="#" title="My Wishlists">My Wishlists</a></li>
											</ul>
										</div>
									</li> --}}
								
								</ul>
							</div>
						</li>

							<li>
								<a href="/about" style="color:black">About Us</a>
							</li>

							<li>
								<a href="/contact" style="color:black">Contact</a>
							</li>
							{{#if user}}
								<li class="dropdown">
								<a href="/orders" title="Page" style="color:black">My oders</a>
								
							</li>
							{{else}}
							<li class="dropdown">
								<a href="/login" title="Page" style="color:black">Login</a>
								
							</li>
							{{/if}}
						</ul>
					</div>
				</div>

				<!-- Header Center -->
				<div class="col-lg-2 col-md-2 col-sm-12 header-center justify-content-center">
					<!-- Logo -->
					<span><h1>Gkart</h1></span>
					{{!-- <div class="logo">
						<a href="home-3.html">
					       
						<img class="img-responsive" src="img/logo.png" alt="Logo">
						</a>
					</div> --}}

					<span id="toggle-mobile-menu"><i class="zmdi zmdi-menu"></i></span>
				</div>


				<!-- Header Right -->
				<div class="col-lg-5 col-md-5 col-sm-12 header-right d-flex justify-content-end align-items-center">
					<!-- Search -->
					<div class="form-search">
						<form id="searchproduct">
							<input type="text" class="form-input" placeholder="Search" name="search">
							<button type="submit" class="fa fa-search"></button>
						</form>
					</div>

					<!-- Cart -->
					{{#if user}}
					<div class="block-cart dropdown">
						<div class="cart-title">
							
							<a class="cart-count" id="cart-count" href="/cart"><i class="fa fa-shopping-basket" aria-hidden="true"></i><span id="addcount">{{cartCount}}</span></a>
						</div>

					
					</div>
					{{/if}}


					<!-- My Account -->
					<div class="my-account dropdown toggle-icon">
						<div class="dropdown-toggle" data-toggle="dropdown">
							<i class="zmdi zmdi-menu"></i>
						</div>
						<div class="dropdown-menu">
								{{#if user}}
							<div class="item">
								<a href="/profile" title="Log in to your customer account"><i class="fa fa-user"></i>My
									Account({{user.username}})</a>
							</div>
							{{/if}}
							<div class="item">
								{{#if user}}
								<a  href="/logout" title="Log in to your customer account" onclick="signOut()" ><i
										class="fa fa-sign-in"></i>Log Out</a>
                                     {{else}}
							</div>
							<div class="item">
								<a href="/login" title="Register Account"><i
										class="fa fa-user"></i>Login</a>
							</div>
							{{/if}}
							{{!-- <div class="item">
								<a href="#" title="My Wishlists"><i class="fa fa-heart"></i>My Wishlists</a>
							</div> --}}
							{{!-- <div class="item">
								<!-- Language -->
								<div class="language switcher">
									<a href="#" title="Language English" class="active"><img src="img/language-en.jpg"
											alt="Language English"></a>
									<a href="#" title="Language French"><img src="img/language-fr.jpg"
											alt="Language French"></a>
									<a href="#" title="Language Deutsch"><img src="img/language-de.jpg"
											alt="Language Deutsch"></a>
								</div>

								<!-- Currency -->
								<div class="currency switcher">
									<a href="#" title="USD" class="active">USD</a>
									<a href="#" title="EUR">EUR</a>
									<a href="#" title="GBP">GBP</a>
								</div>
							</div> --}}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
<script>

    gapi.load('auth2', function () {
        gapi.auth2.init();
    });
	function onLoad(){
		gapi.load('auth2', function () {
      	  gapi.auth2.init();
   	 }	);
	}
    function signOut() {

        console.log("signout triggered")
        var auth2 = gapi.auth2.getAuthInstance();
        auth2.signOut().then(function () {
            console.log('User signed out.');
        });
    }

		$('#searchproduct').on("submit",(e)=>{
			e.preventDefault();
			$.ajax({
				url:"/productsearch",
				method:"POST",
				data:$("#searchproduct").serialize(),
				success:(response)=>{
					
				}
			})
		})
		
	</script>
</header>