<div id="content" class="site-content">
				<!-- Breadcrumb -->
				<div id="breadcrumb">
					<div class="container">
						<h2 class="title">Shopping Cart</h2>
						
						<ul class="breadcrumb">
							<li><a href="#" title="Home">Home</a></li>
							<li><span>Shopping Cart</span></li>
						</ul>
					</div>
				</div>
			
				<div class="container">
					<div class="page-cart">
						<div class="table-responsive">
							<table class="cart-summary table table">
								<thead>
									<tr>
										<th class="width-80 text-center">Image</th>
										<th>Name</th>
										<th class="width-100 text-center">Unit price</th>
										<th class="width-100 text-center">Qty</th>
										{{!-- <th class="width-100 text-center">Total</th> --}}
																				<th class="width-20">Option</th>

									</tr>
								</thead>
								
								<tbody>
										{{#each products}}
									
									<tr>
										
									
										<td>
											<a href="product-detail-left-sidebar.html">
												<img width="80" alt="Product Image" class="img-responsive" src="/product-images/product-image1/{{this.product._id}}.jpg">
											</a>
										</td>
									
										<td>
											<a href="product-detail-left-sidebar.html" class="product-name">{{this.product.product}}</a>
										</td>
									
										<td class="text-center">
											{{this.product.price}}
										</td>
										<td>
											<div class="product-quantity">
												<div class="qty">
													<div class="input-group">
														{{!-- <span id="{{this.product._id}}">{{this.quantity}}</span> --}}
														<input type="text" id="{{this.product._id}}" name="qty" value="{{this.quantity}}" data-min="1">
														
														<span class="adjust-qty">
															<button class="adjust-btn plus" onclick="changeQuantity('{{this._id}}','{{this.product._id}}',1);">+</button>
															{{!-- <p>{{this.quantity}}</p> --}}
															<button class="adjust-btn minus" onclick="changeQuantity('{{this._id}}','{{this.product._id}}',-1);">-</button>
														</span>
													</div>
												</div>
											</div>
									 </td>
											{{!-- {{#each subtotal}}
										<td class="text-center">
											₹{{this.subtotal}}
										
										</td> 
										   {{/each}} --}}
											<td class="product-remove">
												
												 {{!-- <button type="submit" class="btn btn-danger" onclick="removeCart('{{this._id}}','{{this.product._id}}');" >
												<i class="fa fa-trash"></i></button> --}}

												
											 <a  class="btn btn-danger" id="removeCart" onclick="deleteProduct('{{this._id}}','{{this.product._id}}')"  >
												{{!-- <i class="fa fa-trash"></i> --}}
												delete
												
											</a>
										</td>
									</tr>
									  
										{{/each}}
									
									
								</tbody>
								
								<tfoot class="">
									<tr class="cart-total">
										<td rowspan="3" colspan="3"></td>
										<td colspan="2" class="text-right"></td>
  
										<td colspan="1" class="text-center">₹{{subtotal.subtotal}}</td>
									</tr>
									<tr class="cart-total">
										{{!-- <td colspan="2" class="text-right">Total shipping</td> --}}
										{{!-- <td colspan="1" class="text-center">10</td> --}}
									</tr>
									<tr class="cart-total">
										<td colspan="2" class="total text-right">Total</td>
										<td colspan="1" class="total text-center"><span id="total">₹{{totalAmount}}</span></td>
									</tr>
								</tfoot>
							</table>
						</div>
						
						<div class="checkout-btn">
							<a href="/cart/checkout" class="btn btn-primary pull-right" title="Proceed to checkout">
								<span>Proceed to checkout</span>
								<i class="fa fa-angle-right ml-xs"></i>
							</a>
						</div>
					</div>
				</div>
			</div>
			

			     {{!-- <script>
			function removeCart(cartId,proId){
                        $.ajax({
							url:'/cart/remove-item',
							data:{
                                  cart:cartId,
								  product:proId
							},
							method:'post',
							success:(respone=>{
								swal("PRODUCT REMOVE FROM CART")
							})
						})
				}
				 
				 </script> --}}
				 <script>
				function changeQuantity(cartId,proId,count){
				let quantity=parseInt(document.getElementById(proId).value)
				
				console.log(quantity)
				//console.log(userId)
				count=parseInt(count)
                       $.ajax({
						   url:'/change-product-quantity',
						  
						   data:{
							   
							   cart:cartId,
							   product:proId,
							   count:count,
							   quantity:quantity,
						   },
						    method:'post',
						   success:(response=>{
							
							   if(response.removeProduct)
							   {
								   swal("Product Removed From cart")
								location.reload()
							   }
							   else {
								   location.reload()
								   //document.getElementById(proId).innerHTML=quantity+count
								   //document.getElementById('total').innerHTML=response.total
							   }
						   })
					   })
				}
			</script>
			<script>
				function deleteProduct(cartId,proId){
					console.log("evede aanu")
					$.ajax({
						url:'/remove-item',
						data:{
							cartId:cartId,
							proId:proId
						},
						method:'post',
						success:(response)=>{
							if(response){
								window.location.reload()
							}
						}
					})
				}
			</script>